<div class="cart row m-0 p-0">
  <div class="shopping-list col-12 p-0">
    <h2 class="product-details">
      You have {{(product | async).shoppingList.length}} products and {{itemCount}} items in Cart.
    </h2>
    <div class="row m-0">
      <div class="col-12 col-md-8 col-lg-9 p-0">
        <div class="row">
          <div
            class="col-12 col-sm-6 col-lg-4 product-wrapper"
            *ngFor="let product of (product | async).shoppingList">
            <product isCart="true" [product]="product"></product>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-3 summary">
        <p class="price-details">Price Details</p>
        <hr/>
        <div class="row">
          <div class="col-6 text-left">Price ({{itemCount}} items):</div>
          <div class="col-6 text-right">{{totalPrice | currency}}</div>
        </div>
        <div class="row">
          <div class="col-6 text-left">Discount: </div>
          <div class="col-6 text-right">{{totalDiscount | currency}}</div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-6 text-left bold">Total Payable: </div>
          <div class="col-6 text-right bold">{{(totalPrice - totalDiscount) | currency}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
