@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
