.sort {
  display: flex;
  align-items: baseline;

  .inline-block {
    margin-right: 20px;
  }

  .nav {
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      width: 100%;
      margin-bottom: 0;

      .nav-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .btn {
          font-size: 18px;
          width: 100%;
          text-align: center;
        }
      }
    }

    .nav-item {
      margin-right: 10px;
    }
  }
}
