<div class="sort">
  <div class="inline-block d-none d-md-block">
    <strong>Sort By</strong>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <button
        class="btn filter-asc btn-sm"
        [ngClass]="(sortType | async) === 'ASC'? 'btn-primary': 'btn-outline-primary'"
        (click)="sortProducts('ASC')">Price -- Low High</button>
    </li>
    <li class="nav-item">
      <button
        class="btn filter-desc btn-sm"
        [ngClass]="(sortType | async) === 'DESC'? 'btn-primary': 'btn-outline-primary'"
        (click)="sortProducts('DESC')">Price -- High Low</button>
    </li>
    <li class="nav-item">
      <button
        class="btn filter-disc btn-sm"
        [ngClass]="(sortType | async) === 'DISC'? 'btn-primary': 'btn-outline-primary'"
        (click)="sortProducts('DISC')">Discount</button>
    </li>
  </ul>
</div>
