.search-form {
  padding: 0 15px;
  flex-wrap: nowrap;

  .form-control {
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    caret-color: #fff;

    &::placeholder {
      color: #bbb;
    }
  }

  .btn-link {
    color: #fff;
  }
}